@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  background-color: black;
}

/*For old browsers*/
section, article, aside, footer, header, nav {
  display: block;
}

::selection {
  background: #D9FF6E;
  color: white;
}